SensorService/src/META-INF/SensorBodyShema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://mobilis.inf.tu-dresden.de/ACDSense" xmlns:mns="http://mobilis.inf.tu-dresden.de/ACDSense"
	elementFormDefault="qualified">


	<xs:element name="sensorItems" type="mns:SensorItem" />
	<xs:complexType name="SensorValue">
		<xs:sequence>
			<xs:element name="subType" type="xs:string" />
			<xs:element name="value" type="xs:string" />
			<xs:element name="unit" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SensorItem">
		<xs:sequence>
			<xs:element name="sensorId" type="xs:string" />
			<xs:element type="mns:SensorValue" name="values" />
			<xs:element name="location" type="xs:string" />
			<xs:element name="type" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>